    @font-face {
        font-family: 'Raleway';
        src: url('font/Raleway.ttf') format('truetype');
        font-family: 'Raleway-Light';
        src: url('font/Raleway-Light.ttf') format('truetype');
        font-family: 'Raleway-SemiBold';
        src: url('font/Raleway-SemiBold.ttf') format('truetype');
        font-family: 'Raleway-Bold';
        src: url('font/Raleway-Bold.ttf') format('truetype');
    }
    
    html {
        font-family: 'Raleway-Thin', 'Arial', 'Helvetica', 'sans-serif';
    }
    /* ---HEADER--- */
    
    .header,
    .main,
    .footer {
        overflow: hidden;
    }
    
    .header {
        margin: auto;
        display: grid;
        align-items: center;
        max-width: 1440px;
    }
    
    .logo {
        grid-area: logo;
        width: 5rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    
    .Titre1 {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        font-weight: 100;
    }
    
    h1 {
        font-size: 1rem;
    }
    
    h2 {
        font-size: 0.8em;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    
    nav {
        display: flex;
        align-items: center;
        grid-area: navbar;
        font-size: 1rem;
        font-weight: bold;
    }
    
    .headerNavLink[data-active=true] {
        border-top: 3px solid #0065FC;
        color: #0065FC;
    }
    
    .headersignup {
        color: #0065FC;
        display: flex;
        align-items: center;
        grid-area: button;
        padding: 1.5rem;
        font-weight: bold;
    }
    
    .headerNavLink {
        padding: 1.5rem;
    }
    
    .headerNavLink:hover {
        border-top: 3px solid #0065FC;
        color: #0065FC;
    }
    
    nav a {
        text-decoration: none;
        transition-duration: 0.1s;
        border-bottom: 3px transparent solid;
    }
    
    .searchbox {
        display: flex;
        flex-direction: row;
        margin-top: 0px;
    }
    
    .mylocation {
        width: 0.8rem;
        background-color: #f2f2f2;
        padding: 10px;
        border-radius: 30% 0% 0% 30%;
        padding: 16px;
    }
    
    .location {
        padding: 10px;
        border: hidden;
        width: 12rem;
        font-weight: bold;
        font-size: 1rem;
    }
    
    .submit {
        background-color: #0065FC;
        text-align: center;
        color: white;
        border: #0065FC;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: 0% 20% 20% 0%;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .submiticon {
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 0 1rem 1rem 0;
        padding: 16px;
        font-family: "Raleway", "Sans serif";
        font-size: 0.8rem;
        cursor: pointer;
    }
    
    .filters {
        display: flex;
        margin-top: 25px;
        flex-wrap: wrap;
    }
    
    .filters h2 {
        margin-right: 2rem;
        margin-top: 0.7rem;
        font-size: 1rem;
        font-weight: bold;
    }
    
    .filters div {
        display: flex;
        align-items: center;
        margin-right: 2em;
        border: 2px solid #d9d9d9;
        border-radius: 2rem;
        margin-bottom: 2rem;
        cursor: pointer;
        transition-duration: 0.1s;
        font-weight: bold;
        font-size: 1rem;
        padding-right: 1rem;
    }
    
    .filters div:hover {
        background-color: #f2f7ff;
    }
    
    .fa-money-bill-wave {
        background-color: #DEEBFF;
        border-radius: 100%;
        height: 1.5rem;
        min-width: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -2px;
        color: #0065FC;
        margin-right: 8px;
        padding: 0.6rem;
    }
    
    .fa-child {
        background-color: #DEEBFF;
        border-radius: 100%;
        height: 1.5rem;
        min-width: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -2px;
        color: #0065FC;
        margin-right: 8px;
        padding: 0.7rem;
    }
    
    .fa-heart {
        background-color: #DEEBFF;
        border-radius: 100%;
        height: 1.5rem;
        min-width: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -2px;
        color: #0065FC;
        margin-right: 8px;
        padding: 0.7rem;
    }
    
    .fa-dog {
        background-color: #DEEBFF;
        border-radius: 100%;
        height: 1.5rem;
        min-width: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -2px;
        color: #0065FC;
        margin-right: 8px;
        padding: 0.7rem;
    }
    
    .info {
        display: flex;
        align-items: center;
        margin: 1rem 0 2rem 0;
    }
    
    .infosearch {
        margin-top: -30px;
        min-height: 1.1rem;
        min-width: 1.1rem;
        border: solid 1px #d9d9d9;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
        color: #0065FC;
        font-size: 0.8rem;
    }
    
    .infotexte {
        margin-top: -20px;
        margin-left: 0px;
        font-size: 0.8rem;
    }
    /* ---MAIN ACCOMMODATION--- */
    
    .main {
        max-width: 1440px;
        margin: auto;
        padding: 0 2rem;
        box-sizing: border-box;
    }
    
    body {
        margin: 0px;
    }
    
    .AccommodationMain {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }
    
    .AccommodationMain header {
        grid-column: 1/-1;
    }
    
    .AccommodationMain h2 {
        margin: 0;
        font-size: 1rem;
    }
    
    .AccommodationMain article,
    .MostPopular article {
        background-color: white;
        padding: 0.375rem;
        border-radius: 1.25rem;
        box-shadow: 0 0 16px #0000002e;
        transition-duration: 0.1s;
        cursor: pointer;
        box-sizing: border-box;
        height: 100%;
        margin-top: -5px;
    }
    
    .AccommodationMain figure {
        margin: 0;
    }
    
    .AccommodationMain img {
        height: 7rem;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    
    .AccommodationMain h3,
    .MostPopular h3 {
        margin-top: 10px;
    }
    
    .AccommodationMain h3,
    p,
    .star {
        padding-left: 15px;
    }
    
    .MostPopular h3,
    p,
    .star {
        padding-left: 15px;
    }
    
    .AccommodationMain p,
    .MostPopular p {
        margin-top: -15px;
    }
    
    .ViewMore {
        font-weight: bold;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    .MostPopular {
        padding: 2rem;
        row-gap: 2rem;
        display: grid;
        align-items: start;
        grid-template-rows: auto repeat(3, 1fr);
    }
    
    .MostPopular h2 {
        margin: 0;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
    }
    
    .MostPopular a {
        display: flex;
        align-items: stretch;
        height: 100%;
        overflow: auto;
    }
    
    .MostPopular figure {
        margin: 0;
        position: relative;
        min-height: 100%;
        width: 33%;
        min-width: 33%;
        max-width: 33%;
    }
    
    .MostPopular img {
        border-radius: 1rem 0 0 1rem;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .MostPopularMain {
        display: flex;
        flex-direction: column;
    }
    
    .MostPopularSpace {
        flex: 1;
    }
    
    .AccommodationMain,
    .MostPopular {
        background-color: #F2F2F2;
        border-radius: 1.5rem;
        padding: 2rem;
    }
    
    .fa-star[data-active="true"] {
        color: #0065FC;
    }
    
    .fa-star[data-active="false"] {
        color: #d9d9d9;
    }
    
    .star {
        padding-bottom: 10px;
        margin-top: -10px;
    }
    /* ---MAIN ACTIVITIES--- */
    
    .activities {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
        column-gap: 2rem;
        margin: 4rem 0;
    }
    
    .activities img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .activities a {
        box-shadow: 0 0 20px #0000002e;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition-duration: 0.1s;
    }
    
    .activities h2 {
        grid-column: 1 / -1;
        font-size: 1rem;
    }
    
    .activities h3 {
        margin: 1.2rem 1.5rem;
    }
    
    .activitiesWrap {
        position: relative;
        flex: 1;
    }
    
    #Port {
        grid-column: 1/2;
        grid-row: 2/7;
    }
    
    #Fort {
        grid-column: 2/3;
        grid-row: 2/5;
    }
    
    #ParcCalanques {
        grid-column: 3/4;
        grid-row: 2/7;
    }
    
    #Dame {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    
    #Ile {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    
    #ParcLongchamp {
        grid-column: 4/5;
        grid-row: 4/7;
    }
    /* ---FOOTER--- */
    
    .footer {
        background-color: #F2F2F2;
        width: 100%;
    }
    
    .footerblock {
        display: flex;
        max-width: 100%;
        width: 1440px;
        margin: auto;
        padding: 0 2rem;
        box-sizing: border-box;
    }
    
    .footer1,
    .footer2,
    .footer3 {
        padding: 2rem 5rem;
        margin-left: -5rem;
        margin-right: 5rem;
    }
    
    .footer ul {
        display: block;
        list-style: none;
    }
    
    .footer ul li {
        margin: 0.3rem 0;
        margin-left: -2rem;
    }
    
    .footer h2 {
        font-size: 1rem;
    }
    /* ---RESP UP TO 650--- */
    
    @media screen and (max-width: 650px) {
        .header,
        .main,
        .footer {
            max-width: initial;
        }
        .header {
            grid-template-columns: auto 1fr auto;
            grid-template-areas: "logo . button" "navbar navbar navbar";
            position: relative;
            max-width: 100%;
        }
        .header nav a {
            display: inline-block;
            border-bottom: 3px #f2f2f2 solid;
            width: 100%;
        }
        .header nav a[data-active=true] {
            border-bottom: 3px #0065FC solid;
            border-top: none;
        }
        .logo {
            order: 0;
        }
        .headersignup {
            order: 1;
            margin-top: 2.6rem;
            margin-right: 1rem;
        }
        .headerNavLink {
            order: 2;
        }
        .headerNavLink {
            border-top: none;
            border-bottom: 3px solid #F2F2F2;
            width: 50%;
        }
        .headerNavLink[data-active=true] {
            border-bottom-color: #0065FC;
        }
        .headerNavLink:hover {
            border-bottom-color: #0065FC;
        }
        .header nav a:hover {
            border-top: none;
        }
        .location {
            width: 100%;
        }
        .filters h2 {
            width: 100%;
        }
        .submit {
            display: none;
        }
        h1 {
            font-size: 2rem;
            margin-bottom: 15px;
        }
        h2 {
            font-size: 1rem;
            margin-bottom: 60px;
        }
        .AccommodationMain {
            margin-bottom: 2rem;
        }
        .AccommodationMain,
        .activities {
            grid-template-columns: 1fr;
        }
        .AccommodationMain,
        .MostPopular {}
        .activities {
            grid-template-rows: auto repeat(6, 20rem);
            row-gap: 2rem;
        }
        .activities h2 {
            margin-bottom: 10px;
        }
        .AccommodationMain {
            order: 1;
        }
        .MostPopular {
            order: 0;
        }
        .activities {
            order: 2;
        }
        .activities h2 {
            grid-row: 1;
            grid-column: 1/-1;
        }
        #Port {
            grid-row: 2;
            grid-column: 1/-1;
        }
        #Fort {
            grid-row: 3;
            grid-column: 1/-1;
        }
        #ParcCalanques {
            grid-row: 4;
            grid-column: 1/-1;
        }
        #Dame {
            grid-row: 5;
            grid-column: 1/-1;
        }
        #Ile {
            grid-row: 6;
            grid-column: 1/-1;
        }
        #ParcLongchamp {
            grid-row: 7;
            grid-column: 1/-1;
        }
        .footerblock {
            flex-direction: column;
        }
        .footer1,
        .footer2,
        .footer3 {
            margin-bottom: 0rem;
            width: 100%;
        }
        .footer h2 {
            margin-bottom: 0px;
        }
        .footer ul {
            margin-bottom: -30px;
        }
    }
    /* ---RESP FROM 650 TO 950 --- */
    
    @media screen and (min-width: 650px) and (max-width: 950px) {
        .footerblock {
            flex-direction: column;
        }
        .activities {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 12rem 12rem 12rem;
            row-gap: 2rem;
        }
        #Port {
            grid-row: 2;
            grid-column: 1;
        }
        #Fort {
            grid-row: 2;
            grid-column: 2;
        }
        #ParcCalanques {
            grid-row: 3;
            grid-column: 1;
        }
        #Dame {
            grid-row: 3;
            grid-column: 2;
        }
        #Ile {
            grid-row: 4;
            grid-column: 1;
        }
        #ParcLongchamp {
            grid-row: 4;
            grid-column: 2;
        }
    }
    /* ---RESP FROM 650 TO 1150 --- */
    
    @media screen and (min-width: 650px) and (max-width: 1150px) {
        .MostPopular {
            grid-row: 1/2;
            border-radius: 0;
            grid-template-rows: auto repeat(3, 12rem);
            grid-template-columns: 1fr;
        }
    }
    /* ---RESP FROM 1150 --- */
    
    @media screen and (min-width: 1150px) {
        .accommodation {
            display: grid;
            column-gap: 2rem;
            grid-template-columns: 6fr 3fr;
        }
    }
    /* ---RESP FROM 650 --- */
    
    @media screen and (min-width: 650px) {
        .header {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo . navbar button";
        }
        .headerNavLink[data-active=true] {
            border-top: 3px solid #0065FC;
        }
        .headerNavLink:hover {
            border-top: 3px solid #0065FC;
        }
        .submiticon {
            display: none !important;
        }
    }